/* RESETEO HTML */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
.imagen-pagina-construccion {
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
}
.text-danger ul {
  width: 100% !important;
  color: #02a5a7 !important;
  font-size: 13px;
  margin: auto;
  padding: 0 !important;
  text-align: center;
  margin-top: 5px;
}
.botones {
  background-color: #02a5a7 !important;
  color: white !important;
  outline: none !important;
  border-radius: 10px;
  width: 190px !important;
  height: 39px !important;
}
.botones:hover {
  background-color: white !important;
  color: #02a5a7 !important;
  border: 1px solid#02a5a7;
}
.botones:active {
  background-color: white !important;
  color: #02a5a7 !important;
}
.botones:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* FIN RESETEO HTML */

/* NAVBAR */
.bg-menu {
  background-color: rgb(29, 35, 38);
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.botonmenu {
  background-color: #02a5a7;
  color: white !important;
  border-radius: 4px;
  height: 39px;
  font-size: 12px;
  padding: 10px;
}

.lineasboton {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link-bg-color {
  background-color: #02a5a7;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-link-color-letra {
  color: white !important;
  font-size: 16px;
  width: 115px;
  text-align: center;
  margin: 0px;
}

.nav-link-color-letra-contacto {
  color: white !important;
  font-size: 16px;
  width: 120px;
  text-align: center;
  border: 1px solid#02a5a7 !important;
}

.nav-link-color-letra-contacto:hover {
  background-color: rgb(255, 255, 255);
  color: #02a5a7 !important;
}

/*  FIN NAVBAR */

/* PRIMERA SECCION */
.primera-seccion {
  background-image: url(/img/puntadeleste.jpg);
  background-size: cover;
}

.primera-seccion__presentacion {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 190px;
}
.primera-seccion__presentacion-subtitulo {
  color: white;
  font-size: 35px;
  font-weight: bolder;
}
.primera-seccion__presentacion-titulo {
  color: #03a6a6;
  font-size: 70px;
  font-weight: bold;
}
.primera-seccion__presentacion-primer-parrafo {
  font-size: 16px;
  color: white;
  width: auto;
  text-align: center;
  margin: 0px;
}
.primera-seccion__presentacion-segundo-parrafo {
  font-weight: bold;
  font-size: 12px;
  color: white;
  width: 500px;
  text-align: center;
  margin-top: 20px;
}
.formulario-contacto-primera-seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 150px 0px;
}
.form-row {
  display: flex;
  flex-direction: row;
}
.formulario-contacto-primera-seccion__primer-campo,
.formulario-contacto-primera-seccion__segundo-campo,
.formulario-contacto-primera-seccion__tercer-campo {
  margin: 0px 10px 0px px;
  width: 250px;
}
.formulario-contacto-primera-seccion__boton-enviar {
  background-color: #03a6a6;
  border-color: #03a6a6;
  font-weight: bold;
  margin-left: 20px;
}

/* FIN PRIMERA SECCION */

/* SEGUNDA SECCION */
.segunda-seccion {
  background: rgb(3, 166, 166);
}
.bg-seccion2 {
  background: rgb(3, 166, 166);
}

.color-letradetitulo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 30px 0px 40px 0px;
}

.color-letradetexto {
  color: white;
  font-size: 24px;
  line-height: 30px;
  font-weight: inherit;
  margin-top: -30px;
  margin-bottom: 30px;
}

.bg-boton1 {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(2, 165, 167) !important;
  font-size: 100%;
  border-radius: 10px;
  width: 190px !important;
  height: 39px !important;
  border: none;
  margin: -30px 0px 50px 0px;
  font-weight: bold;
  outline: none !important;
}

.bg-boton1:hover {
  border: 1px solid#02a5a7;
}

.bg-boton1:active {
  background-color: white !important;
  color: #02a5a7 !important;
}
.bg-boton1:focus {
  outline: none !important;
  box-shadow: none !important;
}

.parallax {
  height: 600px;
  background-image: url(./img/02AEREA\ CONJUNTO.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/* FIN SEGUNDA SECCION */

/* INICIO TERCERA SECCION */
.color-subtit {
  margin-top: 50px;
  color: rgb(2, 165, 167);
}
.texto-informacion {
  font-size: 16px;
  line-height: 25px;
}

.mapaedit {
  width: 100%;
  height: 115%;
  padding-left: 10%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .mapaedit {
    width: 100%;
    height: 100%;
    margin-top: 4%;
    padding-left: 0%;
  }

  .boton-sabermas {
    background-color: rgb(2, 165, 167) !important;
    border: #02a5a7;
    margin-top: 10%;
  }
}

.boton-sabermas {
  background-color: rgb(2, 165, 167) !important;
  border: #02a5a7;
}

.boton-sabermas:hover {
  background-color: white !important;
  color: #02a5a7 !important;
  border: 1px solid#02a5a7 !important;
}
.boton-sabermas:active {
  background-color: white !important;
  color: #02a5a7 !important;
  border: #02a5a7 !important;
}

.tercera-seccion-bis {
  margin: 50px 0px 70px 0px;
}
.tercera-seccion-bis-imagen-buenavista {
  display: block;
  margin: auto;
  padding-top: 100px;
}
.tercera-seccion-bis__titulo {
  text-align: center;
  color: rgb(217, 187, 150);
  font-size: 150px;
  margin: 100px 0px 50px 0px;
  font-weight: bold;
  font-family: "akkurat-bold";
  letter-spacing: 15px !important;
}

.tercera-seccion-bis__texto {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  /* font-size: 20px; */
}

.tercera-seccion-bis__contenedor-imagenes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 100px;
}

.tercera-seccion-bis__contenedor-imagenes-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  position: relative;
}

.tercera-seccion-bis__contenedor-imagenes-foto {
  width: 300px;
  height: 300px;
}

.tercera-seccion-bis__contenedor-imagenes-foto-texto {
  width: 300px;
  height: 300px;
  position: absolute;
  text-align: center;
  font-size: 32px;
  color: white;
  opacity: 0;
  background-color: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1)
  );
  padding-top: 60%;
}
.tercera-seccion-bis__contenedor-imagenes-card:hover
  .tercera-seccion-bis__contenedor-imagenes-foto-texto {
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

/* FIN TERCERA SECCION */

/* INICIO CUARTA SECCION */
.cuarta-seccion-amenities {
  background-color: white;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cuarta-seccion-amenities__titulo {
  color: #02a5a7;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
  font-weight: bold;
}
.cuarta-seccion-amenities__texto {
  text-align: center;
  margin: 0px 0px 0px 0px;
  width: auto;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: bold;
}

.cuarta-seccion-amenities__contendedor-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.cuarta-seccion-amenities__contendedor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuarta-seccion-amenities__contendedor-card-imagen {
  width: 350px;
  height: auto;
}
.cuarta-seccion-amenities__contendedor-card-texto {
  text-align: center;
  margin: 10px;
}
.cuarta-seccion-amenities__boton {
  width: 200px;
  height: 50px;
  font-weight: bold;
  background-color: white !important;
  color: #d9bb96 !important;
  border: none;
}

.cuarta-seccion-amenities__boton:hover {
  background-color: white !important;
  color: #d9bb96 !important;
  border: none;
}

/* FIN CUARTA SECCION */

/* INICIO QUINTA SECCION */
.titulo-principal-carousel {
  text-align: center;
  margin: 50px 0px 30px 0px;
  color: #02a5a7;
  font-weight: bold;
}
.bajada-principal-carousel {
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: bold;
}
.bg-carrousel {
  background-color: rgb(217, 187, 150);
}

.color-unidades {
  color: rgb(255, 255, 255);
}

.indicador {
  background-color: rgb(217, 187, 150) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(217, 187, 150);
  width: 40px;
  height: 40px;
  margin-top: 50px;
}
.titulo-carousel {
  font-weight: bold;
  text-align: start;
  margin-bottom: 25px;
}

.texto-carousel {
  font-weight: 25px;
  text-align: left;
}

.ajusteimgcarrousel {
  height: 520px !important;
  width: 100%;
}

.aberturas {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid white;
}

.parrafocarrousel {
  width: 100%;
  padding: 10px;
}

.miniaturacarrousel {
  width: 120px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .ajusteimgcarrousel {
    height: 340px !important;
    width: 100%;
  }
  .miniaturacarrousel {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ajusteimgcarrousel {
    height: 425px !important;
    width: 100%;
  }
  .miniaturacarrousel {
    width: 80px;
  }
}

@media (min-width: 1400px) {
  .ajusteimgcarrousel {
    width: 1279px !important;
    height: 719px !important;
  }
}

/* FIN QUINTA SECCION */

/* INICIO SEXTA SECCION */
.seccion-tipologias {
  margin-bottom: 200px;
}
.seccion-tipologias__titulo {
  text-align: center;
  margin: 100px 0px 50px 0px;
  color: #02a5a7;
  font-weight: bold;
}
.seccion-tipologias__texto {
  text-align: center;
  margin-top: 30px;
}

.seccion-tipologia__departamentos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.seccion-tipologia__departamentos-card {
  margin: 50px 50px 0px 50px;
}

.seccion-tipologia__departamentos-card-fotouno,
.seccion-tipologia__departamentos-card-fotodos,
.seccion-tipologia__departamentos-card-fototres {
  border: 2px solid rgb(231, 225, 225);
  width: 230px;
}

.seccion-tipologia__departamentos-card-textouno,
.seccion-tipologia__departamentos-card-textodos,
.seccion-tipologia__departamentos-card-textotres {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

/* FIN SEXTA SECCION */

/* INICIO SEPTIMA SECCION */
.seccion_inversores {
  background-color: #f1f2f2;
  padding-top: 50px;
}

.seccion_inversores__titulo {
  text-align: center;
  margin: 50px 0px 30px 0px;
  color: #03a6a6;
  font-weight: bold;
}

.seccion_inversores__subtitulo {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.seccion_inversores__cards {
  display: flex;
  justify-content: center;
}
.seccion_inversores__cards-card {
  width: 300px;
  height: 300px;
  margin: 0px 0px;
}
.seccion-inversores__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.seccion_inversores__cards-card-numero {
  text-align: center;
  color: #02a5a7;
  font-size: 90px;
  font-weight: bold;
}

.seccion-inversores__icono {
  width: 70px;
  height: 70px;
  margin-left: 15px;
}
.seccion_inversores__cards-card-subtitulo {
  text-align: center;
  font-weight: bold;
  width: 300px;
  margin-top: 30px;
}

/* FIN SEPTIMA SECCION */

/* INICIO OCTAVA SECCION */

.seccion-preguntas__titulo {
  text-align: center;
  color: #02a5a7;
  margin: 100px 0px 50px 0px;
  font-weight: bold;
}
.accordion {
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
}
.accordion-item {
  margin-bottom: 20px;
}
.accordion-button {
  background-color: #f1f2f2 !important;
  color: white;
  background-color: #1d2326 !important;
}
.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: white;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-button::after {
  background-image: none;
  background-image: url(/img/iconos/flecha-abajo.png) !important;
  background-size: 15px;
  transform: rotate(-360deg);
}
.accordion-item {
  background-color: white !important;
}
.accordion-body {
  color: #1d2326;
  margin: 50px;
  font-weight: 25px;
}

/* FIN OCTAVA SECCION */

/* INICIO NOVENA SECCION */

.seccion-formulario {
  background-color: #f1f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.seccion-formulario__titulo {
  text-align: center;
  padding-top: 50px;
  color: #02a5a7;
  margin-bottom: 30px;
  font-weight: bold;
}
.seccion-formulario__subtitulo {
  text-align: center;
  margin-bottom: 5px;

  font-weight: bold;
}
.seccion-formulario__formulario {
  width: 800px;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
::-webkit-input-placeholder {
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}
::-moz-placeholder {
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}
:-ms-input-placeholder {
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}
::-ms-input-placeholder {
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}
::placeholder {
  color: black !important;
  font-size: 14px;
  font-weight: 500;
}
.seccion-formulario__formulario-casilla {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
.seccion-formularios__formulario-boton {
  width: 100px !important;
  background-color: #02a5a7;
  border: none;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.seccion-formulario__icono-volver-inicio {
  background-color: #02a5a7;
  width: 35px;
  height: 35px;
  font-size: x-large;
  color: white;
  position: relative;
  float: right;
  bottom: 50px;
  padding-left: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
.flot {
  position: relative;
  bottom: 38px;
  left: 600px;
  width: 35px !important;
  height: 35px;
  background-color: #03a6a6;
  color: white;
  font-size: x-large;
  text-align: center;
  padding: 0%;
}

.flot:hover {
  background-color: white !important;
  color: #02a5a7 !important;
  text-decoration: none !important;
}
/* FIN NOVENA SECCION */

/* INICIO FOOTER */
.footer {
  background-color: #1d2326;
  padding-bottom: 0px;
}
.footer__caja {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  padding: 70px 0px 50px 0px;
  align-items: center;
}

.footer__caja-logo {
  width: 250px;
  height: auto;
}

.caja-footer-informacion {
  display: flex;
  flex-direction: row;
}
.footer__caja-telefono {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 14px;
  margin: 0px;
}
.footer__caja-telefono-a {
  text-decoration: none !important;
  color: white;
}
.footer__caja-telefono-a:hover {
  color: white;
}
.footer-caja-central {
  border-left: 1px solid #a56249;
  border-right: 1px solid #a56249;
}
.footer__menu {
  margin: 20px 0px;
  width: auto;
}
.footer__menu-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.pie-de-pagina {
  color: white;
  font-size: 14px;
  margin: 0px;
}
.krak {
  text-decoration: none;
  color: #02a5a7 !important;
  font-size: 14px;
}
.krak:hover {
  text-decoration: none;
}
.final-letra:hover {
  text-decoration: none;
  color: white;
}

/* FIN FOOTER */

/* AQUI COMIENZAN LOS MEDIAQUERIES DE LAS SECCIONES */

/* MEDIAQUERIES MENU */

/* INICIO MEDIAQUERIES TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    font-size: 15px;
  }
  .logo-navbar {
    width: 150px;
  }

  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 500px;
    text-align: center;
    margin: 0px;
    margin: 5px 0px 5px 0px !important;
  }

  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 500px;
    text-align: center;
    margin-right: 10%;
    margin: 5px 0px 5px 0px !important;
  }
  .nav-link-color-letra-contacto:hover {
    background-color: white;
    color: #02a5a7 !important;
  }
}

/* FIN MEDIAQUERIES TABLETS */

/* MEDIAQUERIES CELULAR  */
@media (min-width: 320px) and (max-width: 767px) {
  .nav-link {
    font-size: 15px;
  }
  .logo-navbar {
    width: 150px;
  }
  .nav-item {
    width: 330px;
  }

  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 330px;
    text-align: center;
    margin: 5px 0px 5px 0px !important;
  }

  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 330px;
    text-align: center;
    margin-right: 10%;
    margin: 5px 0px 5px 0px !important;
  }
  .nav-link-color-letra-contacto:hover {
    background-color: white;
    color: #02a5a7 !important;
  }
}
/* FIN MEDIAQUERIES CELULAR */

/*  FIN MEDIAQUERIES MENU */

/* MEDIAQUERY PRIMERA SECCION MODERNIDAD Y NATURALEZA*/

/* MEDIAQUERY CELULARES  SEGUNDA SECCION  MODERNIDAD Y NATURALEZA*/
@media (min-width: 320px) and (max-width: 767px) {
  .primera-seccion__presentacion-icono-whatsapp {
    display: none !important;
  }
  .primera-seccion {
    background-image: url(/img/puntadeleste.jpg) center center cover no-repeat
      fixed;
    width: 100%;
    height: 100%;
  }
  .primera-seccion__presentacion {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .primera-seccion__presentacion-subtitulo {
    color: white;
    font-size: 23px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .primera-seccion__presentacion-titulo {
    color: #03a6a6;
    font-size: 35px;
    margin-top: 5px !important;
    margin-bottom: 10px;
  }
  .primera-seccion__presentacion-primer-parrafo {
    font-size: 12px;
    color: white;
    width: 100%;
    text-align: center;
  }
  .primera-seccion__presentacion-segundo-parrafo {
    font-weight: bold;
    font-size: 13px;
    color: white;
    width: 300px;
    text-align: center;
  }
  .formulario-contacto-primera-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 100px 0px;
  }
  .formulario-contacto-primera-seccion__primer-campo,
  .formulario-contacto-primera-seccion__segundo-campo,
  .formulario-contacto-primera-seccion__tercer-campo {
    margin: 0px 30px 0px 30px;
    padding-bottom: 10px;
    width: 200px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }
  .formulario-contacto-primera-seccion__boton-enviar {
    background-color: #03a6a6;
    border-color: #03a6a6;
    width: 200px;
    margin-left: 30px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }
  .primera-seccion__presentacion-icono-whatsapp {
    font-size: 30px;
    background-color: #1d2326;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 80px;
    right: 40px;
    display: none;
  }

  .formulario-contacto-primera-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 100px 0px;
    display: none;
  }
}
/* MEDIAQUERY CELULARES */

/* MEDIAQUERY TABLETS SEGUNDA SECCION  MODERNIDAD Y NATURALEZA*/
@media (min-width: 768px) and (max-width: 991px) {
  .primera-seccion {
    background-image: url(/img/puntadeleste.jpg) center center cover no-repeat
      fixed;
    width: 100%;
    height: 100%;
  }
  .primera-seccion__presentacion {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .primera-seccion__presentacion-subtitulo {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .primera-seccion__presentacion-titulo {
    color: #03a6a6;
    font-size: 40px;
  }
  .primera-seccion__presentacion-primer-parrafo {
    font-size: small;
    color: white;
    width: 400px;
    text-align: center;
  }
  .primera-seccion__presentacion-segundo-parrafo {
    font-weight: bold;
    font-size: 11px;
    color: white;
    width: 500px;
    text-align: center;
  }
  .formulario-contacto-primera-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 100px 0px;
    display: none;
  }
  .formulario-contacto-primera-seccion__primer-campo,
  .formulario-contacto-primera-seccion__segundo-campo,
  .formulario-contacto-primera-seccion__tercer-campo {
    margin: 0px 30px 0px 30px;
    padding-bottom: 10px;
    width: 200px;
  }
  .formulario-contacto-primera-seccion__boton-enviar {
    background-color: #03a6a6;
    border-color: #03a6a6;
    width: 200px;
    margin-left: 30px;
  }
  .primera-seccion__presentacion-icono-whatsapp {
    font-size: 30px;
    background-color: #1d2326;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 80px;
    right: 40px;
    display: none;
  }
  .seccion-formulario__icono-volver-inicio {
    display: none;
  }
}
/* MEDIAQUERY TABLETS */

/* FIN MEDIAQUERY PRIMERA SECCION   MODERNIDAD Y NATURALEZA*/

/* MEDIAQUERY TERCERA SECCION */

/* MEDIAQUERY TABLETS TERCERA SECCION*/
@media (min-width: 728px) and (max-width: 766px) {
  .tercera-seccion-bis {
    margin: 50px 0px 100px 0px;
  }
  .tercera-seccion-bis-imagen-buenavista {
    display: block;
    margin: auto;
    margin: 100px 0px 30px 0px !important;
  }
  .tercera-seccion-bis__titulo {
    text-align: center;
    color: rgb(217, 187, 150);
    font-size: 150px;
    margin: 100px 0px 50px 0px;
    font-weight: bold;
    font-family: "akkurat-bold";
    letter-spacing: 15px !important;
  }

  .tercera-seccion-bis__texto {
    text-align: center;
  }

  .tercera-seccion-bis__contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
  }

  .tercera-seccion-bis__contenedor-imagenes-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto {
    width: 200px;
    height: 200px;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto-texto {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    font-size: 32px;
    color: white;
    opacity: 0;
    background-color: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    );
    padding-top: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .color-subtit {
    margin-top: 50px;
    color: rgb(2, 165, 167);
    font-size: 28px;
  }
  .texto-informacion {
    font-size: 16px;
    line-height: 25px;
  }
  .tercera-seccion-bis {
    margin: 50px 0px 100px 0px;
  }
  .tercera-seccion-bis-imagen-buenavista {
    display: block;
    margin: auto;
  }
  .tercera-seccion-bis__titulo {
    text-align: center;
    color: rgb(217, 187, 150);
    font-size: 150px;
    margin: 100px 0px 50px 0px;
    font-weight: bold;
    font-family: "akkurat-bold";
    letter-spacing: 15px !important;
  }

  .tercera-seccion-bis__texto {
    text-align: center;
    margin-bottom: 5px;
  }

  .tercera-seccion-bis__contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
  }

  .tercera-seccion-bis__contenedor-imagenes-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    position: relative;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto {
    width: 200px;
    height: 200px;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto-texto {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    background-color: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    );
    padding-top: 60%;
  }
  .tercera-seccion-bis__contenedor-imagenes-card:hover
    .tercera-seccion-bis__contenedor-imagenes-foto-texto {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
  }
}
/* MEDIAQUERY TABLETS */

/* MEDIAQUERY CELULARES TERCERA SECCION */
@media (min-width: 320px) and (max-width: 767px) {
  .color-subtit {
    margin-top: 50px;
    color: rgb(2, 165, 167);
    font-size: 22px;
  }
  .texto-informacion {
    font-size: 14px;
    line-height: 25px;
  }
  .tercera-seccion-bis {
    margin: 50px 0px 50px 0px;
  }
  .tercera-seccion-bis-imagen-buenavista {
    display: block;
    margin: auto;
  }

  .tercera-seccion-bis__texto {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .tercera-seccion-bis-imagen-buenavista {
    padding-top: 50px;
  }
  .tercera-seccion-bis__contenedor-imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
  }

  .tercera-seccion-bis__contenedor-imagenes-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 0px;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto {
    width: 200px;
    height: 200px;
  }

  .tercera-seccion-bis__contenedor-imagenes-foto-texto {
    width: 200px;
    height: 200px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    opacity: 0;
    background-color: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    );
    padding-top: 50%;
  }
}

/* FIN MEDIAQUERY TERCERA SECCION */

/*MEDIAQUERIES CUARTA SECCION */

/*INICIO MEDIAQUERYS CUARTA SECCION*/
@media (min-width: 768px) and (max-width: 991px) {
  .cuarta-seccion-amenities {
    background-color: #f1f2f2;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .cuarta-seccion-amenities__titulo {
    color: #02a5a7;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px !important;
  }
  .cuarta-seccion-amenities__texto {
    text-align: center;
    margin: 0px 0px 0px 0px;
    width: auto;
  }

  .cuarta-seccion-amenities__contendedor-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }
  .cuarta-seccion-amenities__contendedor-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cuarta-seccion-amenities__contendedor-card-imagen {
    width: 350px;
    height: auto;
  }
  .cuarta-seccion-amenities__contendedor-card-texto {
    text-align: center;
    margin: 10px;
  }
  .cuarta-seccion-amenities__boton {
    width: 170px;
    margin-top: 50px;
    margin-right: 0;
    background-color: #02a5a7;
    border: none;
  }
}
/* FIN MEDIA QUERIES TABLETS  CUARTA SECCION */

/* MEDIAQUERIES CELULARES  CUARTA SECCION*/
@media (min-width: 320px) and (max-width: 767px) {
  .cuarta-seccion-amenities {
    background-color: #f1f2f2;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .cuarta-seccion-amenities__titulo {
    color: #02a5a7;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .cuarta-seccion-amenities__texto {
    text-align: center;
    margin: -10px 20px 0px 20px;
    width: auto;
    font-size: 14px;
    line-height: 25px;
  }

  .cuarta-seccion-amenities__contendedor-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
  }
  .cuarta-seccion-amenities__contendedor-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 17px;
    width: 300px;
  }
  .cuarta-seccion-amenities__contendedor-card-imagen {
    width: 150px;
    height: auto;
  }
  .cuarta-seccion-amenities__contendedor-card-texto {
    text-align: center;
    margin: 10px;
    font-size: 14px;
  }
}
/* FIN MEDIAQUERIES CELURARES CUARTA SECCIONES */

/* INICIO MEDIA QUERIES QUINTA SECCION */

/* MEDIAQUERIES CELULAR QUINTA SECCION */

@media (min-width: 320px) and (max-width: 767px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgb(217, 187, 150);
    width: 40px !important;
    height: 40px !important;
    margin-top: 50px;
  }
  .titulo-carousel {
    text-align: center;
    margin-right: 50px;
  }
  .texto-carousel {
    text-align: left !important;
    font-size: 14px;
    line-height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .titulo-carousel {
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 50px;
    margin-right: 50px;
  }
  .texto-carousel {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
  }
}
/* FIN MEDIAQUERIES TABLET QUINTA SECCION */

/* FIN MEDIAQUERIES QUINTA SECCION */

/* INICIO MEDIAQUERIE SEXTA SECCION */

/* MEDIAQUERIES TABLETS SEXTA SECCION */
@media (min-width: 768px) and (max-width: 991px) {
  .seccion-tipologias {
    margin-bottom: 100px;
  }
  .seccion-tipologias__titulo {
    text-align: center;
    margin-top: 100px;
    color: #02a5a7;
  }
  .seccion-tipologias__texto {
    text-align: center;
    margin-top: 30px;
  }

  .seccion-tipologia__departamentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }

  .seccion-tipologia__departamentos-card {
    margin: 50px 30px 0px 30px;
  }

  .seccion-tipologia__departamentos-card:hover {
    transform: scale(1.3);
    transition: 2s;
  }

  .seccion-tipologia__departamentos-card-fotouno,
  .seccion-tipologia__departamentos-card-fotodos,
  .seccion-tipologia__departamentos-card-fototres {
    border: 2px solid rgb(231, 225, 225);
    width: 200px;
  }

  .seccion-tipologia__departamentos-card-textouno,
  .seccion-tipologia__departamentos-card-textodos,
  .seccion-tipologia__departamentos-card-textotres {
    text-align: center;
    margin-top: 30px;
  }
}
/*  FIN MEDIAQUERIES TABLETS */

/*INICIO SECCION MEDIAQUERIES CELULAR */
@media (min-width: 320px) and (max-width: 767px) {
  .seccion-tipologias {
    margin-bottom: 100px;
  }
  .seccion-tipologias__titulo {
    text-align: center;
    margin-top: 100px;
    color: #02a5a7;
  }
  .seccion-tipologias__texto {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
  }

  .seccion-tipologia__departamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
  }

  .seccion-tipologia__departamentos-card:hover {
    transform: scale(1.3);
    transition: 2s;
  }

  .seccion-tipologia__departamentos-card-fotouno,
  .seccion-tipologia__departamentos-card-fotodos,
  .seccion-tipologia__departamentos-card-fototres {
    border: 2px solid rgb(231, 225, 225);
    width: 250px;
  }

  .seccion-tipologia__departamentos-card-textouno,
  .seccion-tipologia__departamentos-card-textodos,
  .seccion-tipologia__departamentos-card-textotres {
    text-align: center;
    margin-top: 5px;
  }
}
/* FIN SECCION MEDIAQUERIES CELULAR */

/* FIN MEDIAQUERIES SEXTA SECCION CAROUSEL */

/* INICIO MEDIAQUERIES INVERSORES */

/* INICIO TABLETS MEDIAQUERIES SEPTIMA SECCION*/
@media (min-width: 768px) and (max-width: 991px) {
  .seccion_inversores {
    background-color: #f1f2f2;
    padding-top: 50px;
  }

  .seccion_inversores__titulo {
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #03a6a6;
  }

  .seccion_inversores__subtitulo {
    text-align: center;
    margin-bottom: 50px;
  }

  .seccion_inversores__cards {
    display: flex;
    justify-content: center;
  }
  .seccion_inversores__cards-card {
    width: 250px;
    height: 280px;
    margin: 0px 0px;
  }

  .seccion_inversores__cards-card-numero {
    text-align: center;
    color: #02a5a7;
    font-size: 72px;
  }
  .seccion_inversores__cards-card-subtitulo {
    text-align: center;
    font-size: 13px;
    width: 250px;
    margin-top: 0px;
  }

  .seccion-inversores__icono {
    width: 55px;
    height: 50px;
    margin-left: 10px;
  }
}
/* FIN TABLETS */

/* MEDIAQUERIES CELULAR  SEPTIMA SECCION*/
@media (min-width: 320px) and (max-width: 767px) {
  .seccion_inversores {
    background-color: #f1f2f2;
    padding-top: 50px;
  }

  .seccion_inversores__titulo {
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #03a6a6;
  }

  .seccion_inversores__subtitulo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
  }

  .seccion_inversores__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .seccion_inversores__cards-card {
    width: 260px;
    height: 200px;
  }

  .seccion_inversores__cards-card-numero {
    text-align: center;
    color: #02a5a7;
    font-size: 80px;
  }
  .seccion_inversores__cards-card-subtitulo {
    text-align: center;
    font-size: 13px;
    width: 260px;
    margin-top: 0px;
  }
  .seccion-inversores__icono {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
}
/* FIN MEDIAQUERIES CELULAR SEPTIMA SECCION*/

/* FIN MEDIAQUERIES INVERSORES */

/* INICIO MEDIAQUERIES OCTAVA SECCION */

/* MEDIAQUERIES CELULAR OCTAVA SECCION */
@media (min-width: 320px) and (max-width: 767px) {
  .seccion-preguntas__titulo {
    text-align: center;
    color: #02a5a7;
    margin: 100px 0px 50px 0px;
  }
  .accordion {
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
  }
  .accordion-item {
    margin-bottom: 20px;
  }
  .accordion-button {
    background-color: #f1f2f2 !important;
    color: white;
    font-size: 14px;
    background-color: #1d2326 !important;
  }
  .accordion-button:not(.collapsed) {
    color: white;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: none;
  }
  .accordion-button::after {
    background-image: none;
    background-image: url(/img/iconos/flecha-abajo.png) !important;
    background-size: 12px;
  }
  .accordion-item {
    background-color: #1d2326 !important;
  }
  .accordion-body {
    color: white;
    margin: 10px;
    text-align: left;
    font-size: 14px;
  }
  .seccion-formulario__icono-volver-inicio {
    display: none;
  }
}
/* FIN MEDIAQUERIES CELULAR  OCTAVA SECCION*/

/* MEDIAQUERIE NOVENA SECCION */

/* MEDIAQUERIES CELULAR NOVENA SECCION*/
@media (min-width: 320px) and (max-width: 767px) {
  .seccion-formulario {
    background-color: #f1f2f2;
  }

  .seccion-formulario__titulo {
    text-align: center;
    padding-top: 50px;
    color: #02a5a7;
    margin-bottom: 30px;
  }
  .seccion-formulario__subtitulo {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .seccion-formulario__formulario {
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
    margin-top: 30px;
  }
  .seccion-formulario__formulario-casilla {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    font-size: 14px;
  }
  .seccion-formularios__formulario-boton {
    width: 100px;
    margin: 10px auto;
    background-color: #02a5a7;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }
  .seccion-formulario__icono-volver-inicio {
    background-color: #02a5a7;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: white;
    position: relative;
    float: right;
    left: 270px;
    bottom: 80px;
    padding-left: 3px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  }
  .seccion-formulario__icono-volver-inicio {
    display: none;
  }
  .flot {
    display: none !important;
    position: relative;
    bottom: 38px;
    left: 600px;
    width: 35px !important;
    height: 35px;
    background-color: #03a6a6;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 0%;
  }

  .flot:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .flot {
    display: none !important;
    position: relative;
    bottom: 38px;
    left: 600px;
    width: 35px !important;
    height: 35px;
    background-color: #03a6a6;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 0%;
  }

  .flot:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
}
/* FIN MEDIAQUERIES CELULAR */

/* FIN MEDIAQUERIE NOVENA SECCION */

/* MEDIAQUERIES FOOTER */

/* MEDIAQUERIE CELULAR */
@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    background-color: #1d2326;
    padding-bottom: 0px;
  }
  .footer__caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    padding: 0px;
    align-items: center;
  }

  .footer__caja-logo {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .caja-footer-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__caja-telefono {
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 14px;
    margin: 0px;
    text-align: center;
  }
  .footer__caja-telefono-a {
    text-decoration: none !important;
    color: white;
  }
  .footer__caja-telefono-a:hover {
    color: white;
  }
  .footer-caja-central {
    border-left: none;
    border-right: none;
  }
  .footer__menu {
    margin: 20px 0px;
    width: auto;
  }
  .footer__menu-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }

  .pie-de-pagina {
    color: white;
    font-size: 14px;
    margin: 40px 0px 0px 0px;
    padding-bottom: 75px;
  }
  .krak {
    text-decoration: none;
    color: #02a5a7 !important;
    font-size: 14px;
  }
  .krak:hover {
    text-decoration: none;
  }
  .final-letra:hover {
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #1d2326;
    padding-bottom: 0px;
  }
  .footer__caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 380px;
    padding: 0px;
    align-items: center;
  }

  .footer__caja-logo {
    width: 250px;
    height: auto;
    margin-bottom: 40px;
  }

  .caja-footer-informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__caja-telefono {
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 14px;
    margin: 0px;
    text-align: center;
  }
  .footer__caja-telefono-a {
    text-decoration: none !important;
    color: white;
  }
  .footer__caja-telefono-a:hover {
    color: white;
  }
  .footer-caja-central {
    border-left: none;
    border-right: none;
  }
  .footer__menu {
    margin: 20px 0px;
    width: auto;
  }
  .footer__menu-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }

  .pie-de-pagina {
    color: white;
    font-size: 14px;
    margin: 50px 0px 10px 0px;
    padding-bottom: 50px;
  }
  .krak {
    text-decoration: none;
    color: #02a5a7 !important;
    font-size: 14px;
  }
  .krak:hover {
    text-decoration: none;
  }
  .final-letra:hover {
    text-decoration: none;
    color: white;
  }
}
/* FIN MEDIAQUERIES CELULAR */

/* FIN MEDIAQUERIES FOOTER */

/* COMIENZO FIXED BOTTOM */
.fondo-footer {
  background-color: rgb(29, 35, 38);
}

.color-boton-wpp {
  background-color: rgb(2, 165, 167);
  border-radius: 10px;
  height: 39px;
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  text-decoration: none !important;
  align-items: center;
}

.color-boton-wpp:focus {
  outline: none !important;
  box-shadow: none !important;
}

.color-boton-info {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 39px;
  color: rgb(2, 165, 167) !important;
  font-size: 16px;
  text-decoration: none !important;
  align-items: center;
}

.color-boton-info:focus {
  outline: none !important;
  box-shadow: none !important;
}
.color-boton-wpp {
  font-size: 16px;
}
.whatsapp-footer {
  margin-right: 10px;
  font-size: 14px;
  color: white;
}

.barrafooter {
  height: 5px;
  width: 34%;
  border-radius: 140px;
  background-color: rgb(2, 165, 167);
  margin-bottom: 10px;
}

/* FIN FIXED BOTTOM */

@media (min-width: 1024px) and (max-width: 1200px) {
  .parallax {
    height: 600px;
    background-image: url(./img/02AEREA\ CONJUNTO.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .parallax {
    background-image: url(./img/02AEREA\ CONJUNTO-tablets.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .color-letradetitulo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin: 25px 0px 30px 0px;
  }
  .color-letradetexto {
    color: white;
    font-size: 18px;
    line-height: 25px;
    margin-top: -25px;
    margin-bottom: 25px;
    padding: 0;
  }
  .bg-boton1 {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(2, 165, 167) !important;
    font-size: 100%;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border: none;
    margin: 25px 0px 50px 0px;
    font-weight: bold;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax {
    height: 300px;
    background-image: url(./img/02AEREA\ CONJUNTO-celulares.jpg);
    background-size: cover;
    background-attachment: initial;
  }
  .color-letradetitulo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px 30px 0px;
  }

  .color-letradetexto {
    color: white;
    font-size: 14px;
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .bg-boton1 {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(2, 165, 167) !important;
    font-size: 100%;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border: none;
    margin: 25px 0px 50px 0px;
    font-weight: bold;
  }
}

/* PAGINA DE GRACIAS */
.primera-seccion {
  background-image: url(/img/puntadeleste.jpg);
  background-size: cover;
}

.primera-seccion__presentacion-gracias {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  letter-spacing: 1px;
}
.primera-seccion__presentacion-subtitulo {
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.primera-seccion__presentacion-titulo {
  color: #03a6a6;
  font-size: 70px;
  font-weight: bold;
}
.primera-seccion__presentacion-mensaje-gracias {
  color: white;
  font-size: 35px !important;
  font-weight: bolder;
  margin-top: 35px;
  width: 70%;
  text-align: center;
  letter-spacing: 1px;
}

.formulario-contacto-primera-seccion__boton-enviar-gracias {
  margin-top: 35px;
  background-color: #03a6a6;
  border-color: #03a6a6;
  font-weight: bold;
}

/* FIN SECCION GRACIAS */

/* INICIO MEDIAQUERIES PAGINA GRACIAS */

/*  INICIO MEDIAQUERIES TABLET*/
@media (min-width: 320px) and (max-width: 767px) {
  .primera-seccion {
    background-image: url(/img/puntadeleste.jpg);
    background-size: cover;
  }

  .primera-seccion__presentacion-gracias {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    letter-spacing: 1px;
  }
  .primera-seccion__presentacion-subtitulo {
    color: white;
    font-size: 35px;
    font-weight: bolder;
  }

  .primera-seccion__presentacion-titulo {
    color: #03a6a6;
    font-size: 70px;
    font-weight: bold;
  }
  .primera-seccion__presentacion-mensaje-gracias {
    color: white;
    font-size: 35px !important;
    font-weight: bolder;
    margin-top: 35px;
    width: 70%;
    text-align: center;
    letter-spacing: 1px;
  }

  .formulario-contacto-primera-seccion__boton-enviar-gracias {
    margin-top: 35px;
    background-color: #03a6a6;
    border-color: #03a6a6;
    font-weight: bold;
  }
}

/* FIN MEDIAQUERIES TABLETS */

/* INICIO MEDIAQUERIES CELULAR */

@media (min-width: 320px) and (max-width: 767px) {
  .primera-seccion {
    background-image: url(/img/puntadeleste.jpg);
    background-size: cover;
  }

  .primera-seccion__presentacion-gracias {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 1px;
  }
  .primera-seccion__presentacion-subtitulo {
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }

  .primera-seccion__presentacion-titulo {
    color: #03a6a6;
    font-size: 38px;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
  }
  .primera-seccion__presentacion-mensaje-gracias {
    color: white;
    font-size: 20px !important;
    font-weight: bolder;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
  }

  .formulario-contacto-primera-seccion__boton-enviar-gracias {
    margin-top: 35px;
    background-color: #03a6a6;
    border-color: #03a6a6;
    font-weight: bold;
  }
}

/* FIN MEDIAQUERIES CELULAR */

.flotante-boton-volver {
  visibility: hidden;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 37px;
  height: 35px;
  background-color: #03a6a6;
  color: white;
  font-size: 30px;
  text-align: center;
  z-index: 100;
}

.flotante-boton-volver:hover {
  background-color: white !important;
  color: #02a5a7 !important;
  text-decoration: none !important;
}
.primera-seccion__presentacion-icono-whatsapp {
  visibility: visible;
  display: block !important;
  position: fixed !important;
  z-index: 100;
  font-size: 40px;
  background-color: #1d2326;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  position: relative;
  float: right;
  bottom: 80px;
  right: 40px;
  background-color: #02a5a7;
}
.primera-seccion__presentacion-icono-whatsapp:hover {
  background-color: white !important;
  color: #02a5a7 !important;
  text-decoration: none !important;
}

.msj-flotante {
  border-radius: 5px;
  /* background-color: white; */
  width: 200px;
  height: 60px;
  font-size: 10px;
  position: fixed;
  display: block;
  right: 110px;
  bottom: 80px;
  /* border: 1px solid #02a5a7; */
  align-items: center;
  position: relative;
}
.cuadro-dialogo-flotante {
  width: 200px;
  height: 95px;
  right: 100px;
  top: 15px;
  position: absolute;
}
.texto-mensaje-flotante {
  color: white;
  text-align: center;
  position: absolute;
  width: 150px;
  right: 135px;
  top: 40px;
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 767px) {
  .flotante-boton-volver {
    visibility: visible !important;
    display: block !important;
    position: fixed;
    bottom: 90px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #03a6a6;
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 100;
  }

  .flotante-boton-volver:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
  .primera-seccion__presentacion-icono-whatsapp {
    visibility: hidden !important;
    display: none !important;
    position: fixed !important;
    z-index: 100;
    font-size: 40px;
    background-color: #1d2326;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 80px;
    right: 13px;
    background-color: #02a5a7;
  }
  .primera-seccion__presentacion-icono-whatsapp:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .flotante-boton-volver {
    visibility: visible !important;
    display: block !important;
    position: fixed;
    bottom: 90px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: #03a6a6;
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 100;
  }

  .flotante-boton-volver:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
  .primera-seccion__presentacion-icono-whatsapp {
    visibility: hidden !important;
    display: none !important;
    position: fixed !important;
    z-index: 100;
    font-size: 40px;
    background-color: #1d2326;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 80px;
    right: 13px;
    background-color: #02a5a7;
  }
  .primera-seccion__presentacion-icono-whatsapp:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1255px) {
  .flot {
    position: relative;
    bottom: 38px;
    left: 495px;
    width: 35px !important;
    height: 35px;
    background-color: #03a6a6;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 0%;
  }

  .flot:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1192px) {
  .primera-seccion__presentacion-icono-whatsapp {
    visibility: visible;
    display: block !important;
    position: fixed !important;
    z-index: 100;
    font-size: 40px;
    background-color: #1d2326;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    position: relative;
    float: right;
    bottom: 80px;
    right: 40px;
    background-color: #02a5a7;
  }
  .primera-seccion__presentacion-icono-whatsapp:hover {
    background-color: white !important;
    color: #02a5a7 !important;
    text-decoration: none !important;
  }

  .msj-flotante {
    border-radius: 5px;
    /* background-color: white; */
    width: 200px;
    height: 60px;
    font-size: 10px;
    position: fixed;
    display: block;
    right: 110px;
    bottom: 80px;
    /* border: 1px solid #02a5a7; */
    align-items: center;
    position: relative;
  }
  .cuadro-dialogo-flotante {
    width: 200px;
    height: 95px;
    right: 100px;
    top: 15px;
    position: absolute;
  }
  .texto-mensaje-flotante {
    color: white;
    text-align: center;
    position: absolute;
    width: 150px;
    right: 135px;
    top: 40px;
    font-size: 15px;
    font-weight: bold;
  }
}
